.lista {
    font-size: 20%;
    color: darkorchid;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0,5px;
}

h2{
    font-size: 2em;
    color: gold;
    font-family: fantasy;
}